// @import '../../bower_components/toastr/toastr.scss';
// custom bootstrap vars
@import './bootstrap_custom.scss';
// import bootstrap with above vars
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
@import "./spinner.scss";

.mb5 {
	margin-bottom: 5px;
}

.mr5 {
	margin-right: 5px;
}

.btn.is-loading {
	position: relative;
}
.btn.is-loading:after,
.character-summary .is-loading:after {
	@extend .loader;
}
.btn.is-loading:after {
	border-color: transparent transparent white white !important;
}
.btn.is-loading:after {
	left: 50%;
	top: 50%;
	position: absolute;
	margin-left: -8px;
	margin-top: -8px;
	position: absolute !important;
}

.loading-spinner {
	@extend .loader;
	@include center-block;
	border-color: transparent transparent black black !important;
}

.toast {
	font-size: $font-size-xs;
	line-height: 1;
	padding-bottom: 5px;
}

.toast-success {
	// color: #51a351;
	color: $brand-success;
}
.toast-error {
	color: $brand-danger;
}
.toast-info {
	color: $brand-info;
}
.toast-warning {
	color: $brand-warning;
}

.sticky-sidebar {
	@include make-col();
	@include make-col-span(2);
	// position: fixed;
	// top: 0;
	padding-right: 0;
}

.collapsible-container {
	padding-top: 20px;
}

.container-pa {
	padding: 5px 10px 10px 10px;
}

@include media-breakpoint-up(xl) {
	.collapsible-container {
		@include make-container();
		@include make-container-max-widths();
		border-left: solid 1px #ddd;
	}
}

.key-search-form {
	transition: background-color 1s ease;
	background: $gray-lightest;
}

.bg-gray-lightest {
	background-color: $gray-lightest;
}

.key-search-form.is-locked {
	background: #BFF5CC;
}

.key-search-form .lock-indicator {
	display: inline-block;
	float: right;
	color: $gray-light;
	padding: 5px 5px 0 0;
}

.key-search-form.is-locked .lock-indicator {
	color: $brand-success;
}